@import "src/app/theme/main.scss";

.AppQuestionnaire {
  @extend .AppWidgetComponent;
  @extend .AppWidgetComponent--fullScreen;

  justify-content: center;
  margin: 0 !important;
  padding: 0;
  color: var(--tertiary-medium-dark);

  &__skeletonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 16px;

    max-width: $skeleton-base-width;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  &__formWrapper {
    width: 100%;
    overflow-y: auto;
  }

  &__stepBar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 4px;
    background: var(--primary-medium-dark);
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 0.5s linear;
  }

  &__stepInfo {
    @include SmallText;
    color: var(--tertiary-base);
    padding: 16px 0;
  }

  &__dynamicForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
  }

  &__questionText {
    @include BigText;
    padding: 8px 0;
  }

  &__questionDescription {
    @include SmallText;
    padding: 8px 0;
  }

  &__formField {
    @include NormalText;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      flex: 1;
    }
  }


  &__navigationButtons {
    display: flex;
    justify-content: center;
    padding: 16px;

    > * {
      display: flex;
      justify-content: center;
      width: 80px;
      padding: 8px;
      margin: 0 8px;
      background-color: var(--primary-base);
      border-radius: 4px;
      color: #FFF;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background-color: var(--primary-medium-light);
      }

      &.is-disabled {
        pointer-events: none;
        background-color: var(--neutral-medium-dark);
        cursor: default;
      }
    }
  }
}
