.AppQuestionnaire
  //- SKELETON (INIT STATE)


  //- SPINNER (WAITING STATE)
  app-spinner(
    *ngIf="isWidgetWaitingState()",
    [fullScreenMode]="isWidgetWaitingState()"
  )


  //- WIDGET CONTENT (READY STATE)
  .AppQuestionnaire__content(*ngIf="!isWidgetInitState()")
    form([formGroup]="questionnaireFormGroup")
      .AppQuestionnaire__dynamicForm(*ngFor="let question of questionnaire.steps[currentStepIndex].questions; let i = index")
        .AppQuestionnaire__stepInfo {{getStepInfo()}}

        .AppQuestionnaire__questionText(
          *ngIf="!!question.text",
          [innerHtml]="question.text"
        )

        .AppQuestionnaire__questionDescription(
          *ngIf="!!question.description",
          [innerHtml]="question.description"
        )

        //- Form control
        .AppQuestionnaire__formField
          ng-container(
            app-dynamic-field,
            [config]="question",
            [group]="questionnaireFormGroup"
          )

    .AppQuestionnaire__navigationButtons
      .AppQuestionnaire__ctaPrevious(
        [ngClass]="{'is-disabled': currentStepIndex === 0}",
        (click)="updateStep(-1)"
      ) << Prev

      .AppQuestionnaire__ctaNext(
        [ngClass]="{'is-disabled': currentStepIndex === questionnaire.steps.length - 1}",
        (click)="updateStep(1)"
      ) Next >>
