.AppQuestionnaire

  //- SKELETON (INIT STATE)
  //- div((click)="isWidgetInitState() ? setWidgetReadyState() : setWidgetInitState()") cliquez moi!
  .AppQuestionnaire__skeletonWrapper(*ngIf="isWidgetInitState()")
    .AppSkeleton__text.AppSkeleton__text--tiny

    // ---- First card
    .AppSkeleton__spacer.AppSkeleton__spacer--bigger
    .AppSkeleton__text.AppSkeleton__text--longer
    .AppSkeleton
      .AppSkeleton__spacer.AppSkeleton__spacer--normal
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text.AppSkeleton__text--small

      .AppSkeleton__spacer.AppSkeleton__spacer--big
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text.AppSkeleton__text--long

      .AppSkeleton__spacer.AppSkeleton__spacer--big
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text.AppSkeleton__text--tiny

      .AppSkeleton__spacer.AppSkeleton__spacer--big
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text.AppSkeleton__text--tiny

      .AppSkeleton__spacer.AppSkeleton__spacer--normal


    // ---- Second card
    .AppSkeleton__spacer.AppSkeleton__spacer--big
    .AppSkeleton__text.AppSkeleton__text--short
    .AppSkeleton
      .AppSkeleton__spacer.AppSkeleton__spacer--normal
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text.AppSkeleton__text--long

      .AppSkeleton__spacer.AppSkeleton__spacer--big
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text.AppSkeleton__text--tiny

      .AppSkeleton__spacer.AppSkeleton__spacer--big
      .AppSkeleton__contentWrapper
        .AppSkeleton__figure
          .AppSkeleton__contentFigure.AppSkeleton__contentFigure--circleSmall

        .AppSkeleton__body
          .AppSkeleton__text
      .AppSkeleton__spacer.AppSkeleton__spacer--normal


  //- SPINNER (WAITING STATE)
  app-spinner(
    *ngIf="isWidgetWaitingState()",
    [fullScreenMode]="isWidgetWaitingState()"
  )


  //- WIDGET CONTENT (READY STATE)
  .AppQuestionnaire__content(*ngIf="!isWidgetInitState()")

    //- Current step info
    .AppQuestionnaire__stepInfo {{getStepInfo()}}

    form([formGroup]="questionnaireFormGroup")
      div(formArrayName="steps")
        .AppQuestionnaire__dynamicForm(*ngFor="let question of questionnaire.steps[currentStepIndex].questions; let i = index")

          //- Question text
          .AppQuestionnaire__questionText(
            *ngIf="!!question.text",
            [innerHtml]="question.text"
          )

          //- Question description
          .AppQuestionnaire__questionDescription(
            *ngIf="!!question.description",
            [innerHtml]="question.description"
          )

          //- Form control
          .AppQuestionnaire__formField
            ng-container(
              app-dynamic-field,
              [config]="question",
              [group]="currentStepForm"
            )

    //- NAVIGATION BUTTONS
    .AppQuestionnaire__navigationButtons
      .AppQuestionnaire__ctaPrevious(
        [ngClass]="{'is-disabled': currentStepIndex === 0}",
        (click)="updateStep(-1)"
      ) << Prev

      .AppQuestionnaire__ctaNext(
        [ngClass]="{'is-disabled': currentStepIndex === questionnaire.steps.length - 1}",
        (click)="updateStep(1)"
      ) Next >>
