/** Main Theme **/
@import "palette";
@import "media-queries";
@import "icons/icons";

html, body {
  margin: 0;
  height: 100%;
  background-color: var(--primary-lightest);
}

.AppWidgetComponent {
  display: flex;
  flex: 1;
  height: max-content;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: $background;

  &:last-child {
    margin-right: 16px;
  }

  &--fullScreen {
    height: auto;
  }
}
