$default-font-size: 16;

$huge-text: 42;
$bigger-text: 32;
$big-text: 24;
$normal-text: 16;
$small-text: 14;
$mini-text: 12;
$micro-text: 11;
$nano-text: 9;


// GET FONT SIZE RELATED TO MEDIA QUERIES
//----------------------------------------------------------------------
@mixin BaseText($size) {
  font-size: rem-calc($size, $default-font-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

@mixin HugeText {
  @include BaseText($huge-text);
}

@mixin BiggerText {
  @include BaseText($bigger-text);
}

@mixin BigText {
  @include BaseText($big-text);
}

@mixin NormalText {
  @include BaseText($normal-text);
}

@mixin SmallText {
  @include BaseText($small-text);
}

@mixin MiniText {
  @include BaseText($mini-text);
}

@mixin MicroText {
  @include BaseText($micro-text);
}

@mixin NanoText {
  @include BaseText($nano-text);
}
