@import "src/app/theme/main.scss";

.AppQuestionnaire {
  &__radiobuttonOptions {
    flex: 1;
  }

  &__radiobuttonOption {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    &:not(&:last-child) {
      border-bottom: 1px solid var(--primary-lightest);
    }
  }

  &__radiobuttonWithIconOption {
    @extend .AppQuestionnaire__radiobuttonOption;
    cursor: pointer;

    &:hover {
      color: var(--primary-base);
    }

    &.is-selected {
      background-color: var(--primary-base);
      color: #FFF;
    }
  }

  &__radiobuttonIcon {
    @include BiggerText;
    margin: 0;
    padding: 24px;
  }

  &__radiobuttonInput {
    margin: 0 16px;
    cursor: pointer;
  }

  &__radiobuttonText {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 16px;
    cursor: pointer;
  }
}
