.AppQuestionnaire__radiobuttonOptions([formGroup]="group")
  .AppQuestionnaire__radiobuttonOption(*ngFor="let option of config.options; let i = index")
    input.AppQuestionnaire__radiobuttonInput(
      type="radio",
      [attr.id]="getRadiobuttonId(i)",
      [attr.disabled]="isDisabled",
      [value]="option.optionId",
      [formControlName]="config.id"
    )

    label.AppQuestionnaire__radiobuttonText(
      [attr.for]="getRadiobuttonId(i)",
      [innerHtml]="option.optionText"
    )
