.AppLandingPage

  .AppLandingPage__userInfo
    .AppLandingPage__title {{ 'landingpage.title' | translate }}

    .AppLandingPage__startQuestionnaireCta(
      (click)="goToQuestionnaire()"
    ) {{ 'landingpage.cta.text' | translate }}


  .AppLandingPage__userStats
    .AppLandingPage__title STATISTICS

    div
      span Blah
      span 10%

    div
      span Blah
      span 15%

    div
      span Blah
      span 1%

    div
      span Blah
      span 80%

    div
      span Blah
      span 10%
