.AppLandingPage

  .AppLandingPage__userInfo
    .AppLandingPage__title {{ 'landingpage.title' | translate }}

    .AppLandingPage__startQuestionnaireCta(
      (click)="goToQuestionnaire()"
    ) {{ 'landingpage.cta.text' | translate }}


  .AppWidgetComponent
    app-questionnaire-stats
