.AppLandingPage

  .AppLandingPage__userInfo
    .AppLandingPage__title HOME

    .AppLandingPage__startQuestionnaireCta(
      (click)="goToQuestionnaire()"
    ) Start the queshonniah!


  .AppLandingPage__userStats
    .AppLandingPage__title STATISTICS

    div
      span Blah
      span 10%

    div
      span Blah
      span 15%

    div
      span Blah
      span 1%

    div
      span Blah
      span 80%

    div
      span Blah
      span 10%
