@import "src/app/theme/main.scss";

.AppComponent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // MESSAGE BOX
  &__messageBox {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    transition: top 1s ease 0s;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 0;
    z-index: 1000;
    background-color: var(--mood-good);
    @include SmallText;
    color: #FFF;
    cursor: default;

    &.is-hidden {
      top: -80px;
    }

    & > * {
      padding: 0 12px;
    }
  }

  &__messageBoxText {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__messageBoxCta {
    cursor: pointer;
  }

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--primary-base);
    color: white;
    z-index: 10;
  }

  // HEADER
  &__header {
    height: 64px;
    padding: 0 16px;

    .AppComponent__icon {
      cursor: pointer;
      font-size: 32px;
      color: var(--primary-lightest);

      &:hover {
        color: var(--primary-lighter);
      }
    }
  }

  &__headerText {
    @include BiggerText;
  }

  // CONTENT
  &__content {
    position: relative;
    display: flex;
    flex: 1;
    overflow-y: auto;

    & > * {
      display: flex;
      flex: 1;
    }

    router-outlet,
    app-spinner {
      flex: 0;
    }
  }

  // FOOTER
  &__footer {
    @include SmallText;
    height: 24px;
  }

  &__footerText {}

  &__footerLinks {
    display: flex;

    & > * {
      margin: 0 4px;
      white-space: nowrap;
    }
  }
}
