.AppComponent
  .AppComponent__header
    .AppComponent__headerText {{ pageTitle | translate }}
    nav.AppComponent__headerTrayIcons
      .AppComponent__icon.fa-solid.fa-house(routerLink="/")

  .AppComponent__content
    router-outlet

  .AppComponent__footer
    .AppComponent__footerText Angular Questionnaire v{{appVersion}} © Copyright 2021 by yithian86 (Alex Cinelli)
    .AppComponent__footerLinks
      span FAQ
      span Cookies
      span Terms and Conditions
