@import "src/app/theme/main.scss";

.AppComponent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--primary-base);
    color: white;
    z-index: 10;
  }

  // HEADER
  &__header {
    height: 42px;
  }

  &__headerText {
    margin-left: 16px;
    font-size: 24px;
  }

  // CONTENT
  &__content {
    position: relative;
    display: flex;
    flex: 1;

    & * {
      display: flex;
      flex: 1;
    }

    router-outlet,
    app-spinner {
      flex: 0;
    }
  }

  // FOOTER
  &__footer {
    height: 24px;
  }

  &__footerText {}

  &__footerLinks {
    display: flex;

    & > * {
      margin: 0 4px;
      white-space: nowrap;
    }
  }
}
