.AppComponent
  .AppComponent__header
    .AppComponent__headerText {{ pageTitle | translate }}

  .AppComponent__content
    router-outlet

  .AppComponent__footer
    .AppComponent__footerText Angular Questionnaire by yithian86 (Alex Cinelli) 2021
    .AppComponent__footerLinks
      span FAQ
      span Cookies
      span Terms and Conditions
